<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <variable name="stamp"
            value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${callsite}" />
  <variable name="errstamp"
            value="${callsite} at ${longdate}${newline}${exception:format=ToString,StackTrace}${newline}" />
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/logs/ConvertPG2SS.log"
            layout="${message}"
            concurrentWrites="true"
            keepFileOpen="true"
            encoding="iso-8859-2" />

    <target name="console" xsi:type="ColoredConsole"
            layout="${message}" />

    <target xsi:type="BufferingWrapper"
            name="MailBuffer"
            slidingTimeout="false"
            bufferSize="100"
            flushTimeout="-1">
      <target xsi:type="Mail"
              name="gmail"
              html="true"
              addNewLines="true"
              replaceNewlineWithBrTagInHtml="true"
              subject="Error!"
              to="to@test"
              from="from@test"
              smtpUserName="from@test"
              enableSsl="true"
              smtpPassword="123456"
              smtpAuthentication="Basic"
              smtpServer="127.0.0.1"
              smtpPort="25" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="MailBuffer" />
  </rules>
</nlog>